<main>
  <ul class="produtos">
    <div class="section">
      <li>
        <h2 class="white-text">Aprenda</h2>
        <img class="icone" src="https://i.imgur.com/To3KJ7z.png">
        <p class="white-text descricao">Aqui temos cursos gratuitos para você se desenvolver.</p>
        <p class="white-text" class="preco">R$0,00</p>
      </li>
      <li>
        <h2 class="white-text">Ensine</h2>
        <img class="icone" src="https://i.imgur.com/MzHXHYM.png">
        <p class="white-text descricao">Você também pode divulgar seu curso!</p>
        <p class="white-text" class="preco">R$0,00</p>
      </li>
      <li>
        <h2 class="white-text">Divirta-se</h2>
        <img class="icone" src="https://i.imgur.com/t5r74iz.png" alt="">
        <p class="white-text descricao">Feitos pela comunidade, para a comunidade</p>
        <p class="white-text" class="preco">R$0,00</p>
      </li>
    </div>
  </ul>
  <div class="container center mt-4">
    <button class="btn btn-info mb-4" (click)="goToCreateAccount()">Quero inciar meus estudos!</button>
  </div>
</main>
