<footer>
  <div class="footer-content">
    <h3>doUrCode Academy</h3>
    <p>A doUrCode Academy é uma plataforma brasileira de estudos inicialmente pensada por <a
        href="https://www.linkedin.com/in/moises-estevao/">Moisés Estevão</a>, desenvolvida com o intuito de ajudar
      iniciantes na área de tecnologia a terem um lugar para desenvolverem seu primeiro contato.</p>
    <ul class="socials">
      <li><a href="#"><mat-icon class="mat-18">facebook</mat-icon></a></li>
      <li><a href="#"><mat-icon class="mat-18">twitter</mat-icon></a></li>
      <li><a href="#"><mat-icon class="mat-18">google</mat-icon></a></li>
      <li><a href="#"><mat-icon class="mat-18">youtube</mat-icon></a></li>
      <li><a href="#"><mat-icon class="mat-18">linkedin</mat-icon></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>Copyright &copy;2022 <a href="https://www.linkedin.com/in/moises-estevao/">Moisés Estevão</a> </p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
  </div>

</footer>
