main {
  background-color: black;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.img{
  width: 40px;
}

.cursos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px cornflowerblue;
  border-style: solid;
  border-radius: 10px;
}

.icone {
  width: 50%;
}

.produtos li {
  background-color: black;
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px dashed white;
  border-radius: 10px;
}

.produtos {

  background-color: black;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

aula {
  &:hover {
    background-color: rgb(255, 255, 255) !important;

  }
}

.iframe{
  width: 500px;
  height: 400px;
}

.preco {
  font-size: 22px;
  color: green;
  margin-top: 10px;
}

.descricao {
  font-size: 20px;
}

.center {
  text-align: center;
}

@media screen and (max-width:767px) {
  .section {
    display: grid;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .video{
    width: auto;
    height: auto;
  }

  .produtos li, .cursos li {
    width: 90%;
  }

  .iframe{
    width: 98%;
    height: 400px;
  }


  .produtos {
    width: 90%;
  }

}

@media screen and (min-height:768px) and (max-height: 1000px) {

  .icone {
    width: 100px;
  }

}
