<div class="topnav" id="myTopnav">
  <a class=""><img src="https://i.imgur.com/CFcDJKW.png" width="100" class="brand-logo"></a>
  <a><button class="btn indigo white-text" (click)="this.goToLearning()">Aprender</button></a>
  <a class="mt-2" (click)="this.goToProfile()">
    <mat-icon class="align">perm_identity</mat-icon> Perfil
  </a>
  <a class="mt-2" (click)="this.goToMyCourses()">
    <mat-icon class="align">library_books</mat-icon>Cursos
  </a>
  <a class="mt-2" (click)="this.logout()">
    <mat-icon class="align">exit_to_app</mat-icon>Logout
  </a>
  <a href="javascript:void(0);" class="icon" (click)="toggle()">&#9776;</a>
</div>
